<div class="container-fluid p-0">
        <div class="col-lg-12 d-lg-flex signup-container  vh-100">
            <div class="col-lg-6 d-flex align-items-center signup-banner-container">
                <img src="/assets/images/login.png" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12 d-flex pt-3 ps-3">
                    <div class="col-lg-6 ohoh-logo">
                        <img src="/assets/images/ohoh-timesheet-logo.svg" class="img-fluid">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>

                <form>
                    <div class="col-lg-12 py-3 py-md-0 px-3 px-lg-5 px-md-5">
                        <h2 class="mb-3 d-flex justify-content-center">Register</h2>
                        <div class="mb-3  px-lg-5 px-md-5">
                            <label for="username" class="form-label info-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3 px-md-5">
                            <label for="email" class="form-label info-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>

                        </div>
                        <div class="mb-3   px-lg-5 px-md-5">
                            <label for="password" class="form-label info-label">Password</label>
                            <input type="password" class="form-control pe-5" id="password" name="password" required>

                        </div>

                        <div class="mb-3 px-lg-5 px-md-5">
                            <label for="re-enterpassword" class="form-label info-label">Re Enter Password</label>
                            <input type="password" class="form-control" id="re-enterpassword" name="password" required>

                        </div>

                        <div class="col-12 d-flex mb-3 px-lg-5 px-md-5">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label ps-2" for="flexCheckDefault">
                                <span class="info-data">I agree all statements in</span>
                                <a routerLink="/" class="text-decoration-none ps-2">
                                    <span>Terms & Conditions</span>
                                </a>
                            </label>
                        </div>
                        <div class="col-12 mb-3 px-lg-5 px-md-5 justify-content-center d-flex">
                            <a class="btn btn-primary col-12 " routerLink="/" role="button">Register</a>
                        </div>
                        <div class="col-12 px-lg-5 px-md-5 justify-content-center d-flex align-items-center">
                            <span class="ps-2 info-data">Already have an account?</span>
                            <a routerLink="/login" class="text-decoration-none ps-2">Login</a>
                        </div>

                    </div>
                </form>


            </div>

        </div>
</div>