.test{
    color: var(--app-primary-color);
}
.enquiries{
    th {
        font-size: var(--app-font-size-th);
        color: var(--app-table-th-color);
        font-weight: 700;
        line-height: 30px;
    }

    td {
        color: var(--app-table-td-color);
        font-size: var(--app-font-size-td);
        font-weight: 500;
        line-height: 30px;
    }

    a {
        color: var(--app-table-a-color);
        font-size: var(--app-font-size-td);
        text-decoration: none;
    }
}
.gray-bg{
    color: aqua;
}