<div class="container-fluid">
  <div class="row  my-3">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3 mb-md-0">
      <h2 class="page-title">My Employee List</h2>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 d-flex justify-content-end">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search Employee" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="employeetable">
    <table class="table">
      <thead class="table-head-bg">
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">First Name</th>
          <th scope="col" class="d-none d-sm-table-cell">Last Name</th>
          <th scope="col" class="d-none d-sm-table-cell">Email ID</th>
          <th scope="col" class="d-none d-sm-table-cell">Department
            <button class="border-0"><i class="bi bi-filter"></i></button>
          </th>
          <th scope="col">Reporting Manager</th>
          <th scope="col" class="d-none d-sm-table-cell">Joining Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of [1, 2, 3, 4, 5, 6, 7];">
          <td scope="row">
            <a class="text-decoration-none" [routerLink]="['./my-employee-info']">U 123456</a>
          </td>
          <td>Nathan</td>
          <td class="d-none d-sm-table-cell">Robert</td>
          <td class="d-none d-sm-table-cell">udhaya@blint.com</td>
          <td class="d-none d-sm-table-cell">UI/UX</td>
          <td>Tushar B</td>
          <td class="d-none d-sm-table-cell">12/07/2023</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary" routerLink="/create-employee"> <i class="bi bi-plus fs-5"></i></button>
  </div>
</div>