<div class="app-sidebar vh-100 shadow">
  <div class="d-flex justify-content-center align-item-center pt-5">
    <img src="/assets/images/ohoh_logo.png" style="background:none" class="profleImage" alt="logo" height="40"
      width="150" data-atf="1" data-frt="0">
  </div>
  
    <ul class="nav nav-pills flex-column  mt-5">
      <div class="nav-height">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          <i class="bi bi-columns-gap"></i>
          Dashboard
        </a>
      </li>
    
      <li class="nav-item">
        <a routerLink="/my-clients" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-people"></i>
          My Clients
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-projects" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-clipboard-check"></i>
          My Projects
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-employees" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-person"></i>
          My Employees
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-timesheet" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-calendar4-week"></i>
          My Timesheet
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/approval" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-file-earmark-check"></i>
          Approval
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/reports" routerLinkActive="active" class="nav-link link-dark">
          <i class="bi bi-file-earmark-bar-graph"></i>
          Reports
        </a>
      </li>
    </div>
    </ul>
  
</div>