<div class="navbar shadow">
    <div class="col-lg-12 d-flex align-items-center">
        <div class="col-lg-1 ps-3">
            <button type="button"><i class="bi bi-list h4"></i></button>
        </div>
        <div class="col-lg-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 d-flex justify-content-end align-items-center px-3">
            <div>
                <i class="bi bi-bell"></i>
            </div>
            <div class="ps-3  info-label">
                <h6>Hari S</h6>
            </div>
            <div class="ps-4">
                <img src="/assets/images/profile_logo.png" style="background:none" class="profleImage" alt="logo"
                    height="40" width="40" data-atf="1" data-frt="0">
            </div>
            <div>
                <i class="ps-3 dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton"></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Daily</a></li>
                    <li><a class="dropdown-item" href="#">Weekly</a></li>
                    <li><a class="dropdown-item" href="#">Yearly</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>