<header class="app-navbar navbar navbar-dark flex-row-reverse flex-md-row bd-navbar bg-secondary">
    <button type="button" class="menu-button " (click)="toggleSideMenu.emit()"><i class="bi bi-list h4"></i></button>

    

    <div class="d-none d-md-flex">
        <form class="navbar-form" role="search">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <button type="submit" class="btn btn-default">
                        <i class="bi bi-search"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </li>
            </ul>
        </form>
    </div>

    <ul class="navbar-nav flex-row ms-md-auto d-none d-md-flex">
        <li class="nav-item add m-auto pe-2 border-end">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <i class="bi bi-plus"></i>
            </a>
        </li>

        <li class="nav-item m-auto ps-2">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <img src="/assets/img/update.svg" style="background:none" alt="Profile"
                    height="30" width="21" height="22" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <img src="/assets/img/notification.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="17" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2 border-end">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/setting.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="16" data-atf="1" data-frt="0">
            </a>
        </li>
        
        <li>
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/profile.svg" style="background:none" alt="Profile"
                    height="32" width="32" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <img src="/assets/img/notification.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="17" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2 border-end">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/setting.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="16" data-atf="1" data-frt="0">
            </a>
        </li>
        
        <li>
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/profile.svg" style="background:none" alt="Profile"
                    height="32" width="32" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <img src="/assets/img/notification.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="17" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2 border-end">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/setting.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="16" data-atf="1" data-frt="0">
            </a>
        </li>
        
        <li>
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/profile.svg" style="background:none" alt="Profile"
                    height="32" width="32" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="">
                <img src="/assets/img/notification.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="17" data-atf="1" data-frt="0">
            </a>
        </li>
        <li class="nav-item m-auto pe-2 border-end">
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/setting.svg" style="background:none" alt="Profile"
                    height="30" width="15" height="16" data-atf="1" data-frt="0">
            </a>
        </li>
        
        <li>
            <a class="nav-link p-2" href="#" rel="noopener" aria-label="Open Collective">
                <img src="/assets/img/profile.svg" style="background:none" alt="Profile"
                    height="32" width="32" data-atf="1" data-frt="0">
            </a>
        </li>
    </ul>
</header>
