<div class="navbar shadow sticky-top">
    <div class="col-lg-12 col-md-12 col-12 d-flex align-items-center">
        <div class="col-lg-1 col-md-1 col-1 ps-3">
            <button type="button" class="border-0 bg-white"><i class="bi bi-list h4"></i></button>
        </div>
        <div class="col-lg-3 col-md-3 d-lg-flex d-md-flex d-none justify-content-end">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-3"></div>
        <div class="col-lg-4 col-md-4 col-8 d-flex justify-content-end align-items-center px-3">
            <div>
                <button type="button" class="btn  position-relative align-items-center d-flex" style="height: 35px; width: 35px;">
                    <i class="bi bi-bell"></i>
               
                   <span class="position-absolute  start-1 end-0 translate-middle p-1 bg-danger border border-light rounded-circle">
                     <span class="visually-hidden">New alerts</span>
                   </span>
                 </button>
            </div>
            <div class="ps-3  info-label">
                <h6>Hari S</h6>
            </div>
            <div class="ps-4">
                <img src="/assets/images/profile_logo.png" style="background:none" class="profleImage" alt="logo"
                    height="40" width="40" data-atf="1" data-frt="0">
            </div>
            <div>
                <i class="ps-3 dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton"></i>
                <ul class="dropdown-menu dropdown-menu-end" style="width: 200px; height: 184px;" >
                    <li class="ps-3">
                        <span class="info-label">Tushar B</span>
                    </li>
                    <li class="ps-3">
                        <span class="info-data">tushar@builint.com</span>
                    </li>
                    <hr class="my-1">
                    <li><button class="dropdown-item info-label" type="button" routerLink="/settings">Settings</button></li>
                    <hr class="my-1">
                    <li><button class="dropdown-item info-label" type="button">Help</button></li>
                    <hr class="my-1">
                    <li><button class="dropdown-item info-label" type="button"><a routerLink="/login" class="text-decoration-none text-dark">Log Out</a></button></li>
                </ul>
            </div>

        </div>
    </div>
</div>