<div class="container-fluid p-0">
    <div class="col-lg-12 d-lg-flex forgot-password-container  vh-100">
        <div class="col-lg-6 d-flex align-items-center forgot-password-banner-container">
            <img src="/assets/images/login.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 d-flex pt-3 ps-3">
                <div class="col-lg-6 ohoh-logo">
                    <img src="/assets/images/ohoh-timesheet-logo.svg" class="img-fluid">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
           
            <form>
            <div class="col-lg-12  mt-3 mt-md-5 px-3 px-lg-5 px-md-5">
             
                <h2 class="mb-3 d-flex justify-content-center">Forgot Password</h2>
                <p class="mb-3 d-flex justify-content-center info-data">Enter your email and we'll send you a link to reset your password</p>
                <div class="mb-3 px-lg-5 px-md-5 mt-5">
                        <label for="Email" class="form-label info-label">Email</label>
                        <input type="email" class="form-control" id="Email" name="email" required>
                </div>
               
                <div class="col-12 mb-3 px-lg-5 px-md-5 justify-content-center d-flex">
                    <a class="btn btn-primary col-12" routerLink="/" role="button">Submit</a>
                </div>
                <div class="col-12 px-lg-5 px-md-5 justify-content-center d-flex align-items-center">
                    
                     <a routerLink="/login" class="text-decoration-none info-data ps-2"> <span class="pe-1"><i class="bi bi-arrow-left"></i></span>Back</a>
                </div>

            </div>
        </form>


        </div>

    </div>

</div>
