<div class="container-fluid">
    <div class="col-lg-12 col-md-12 d-lg-flex d-md-flex mt-3">
        <div class="col-lg-6">
            <h2 class="page-title">My Time Sheet</h2>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2 d-flex justify-content-end">
            <button type="button" class="btn border dropdown-toggle" data-bs-toggle="dropdown">Weekly</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Daily</a></li>
                <li><a class="dropdown-item" href="#">Monthly</a></li>
                <li><a class="dropdown-item" href="#">Yearly</a></li>
            </ul>
            <i class="bi bi-chevron-compact-left btn border ms-3"></i>
            <i class="bi bi-chevron-compact-right btn border ms-1"></i>
        </div>
    </div>

    <div class="enquiries  mt-3">
        <table class="table">
            <thead>
                <tr class="table-bg">
                  <th scope="col-1">Projects</th>
                  <th scope="col-2">Task</th>
                  <th scope="col-1" class="d-flex flex-column ps-3">
                    <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                    <button type="button" class="btn border dropdown-toggle"
                        data-bs-toggle="dropdown">1st shift</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">General</a></li>
                        <li><a class="dropdown-item" href="#">2nd shift</a></li>
                        <li><a class="dropdown-item" href="#">3rd shift</a></li>
                    </ul>
                    </th>
                  <th scope="col-1" >
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 18</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                    <th scope="col-1">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 19</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                    <th scope="col-1">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 20</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                    <th scope="col-1">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 21</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                    <th scope="col-1">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 22</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                    <th scope="col-1">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 23</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">1st shift</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">2nd shift</a></li>
                            <li><a class="dropdown-item" href="#">3rd shift</a></li>
                        </ul>
                    </th>
                  <th scope="col-1" class="ps-5">Total</th>
                  <th scope="col-1" class="ps-5"></th>
                </tr>
              </thead>
            
            <!-- <thead>
                <tr class="table-bg d-flex">
                    <th scope="col-1" class="d-flex align-items-center">
                        <h6 class="info-label">Projects</h6>
                    </th>
                    <th scope="col-2" class="d-flex align-items-center">
                        <h6 class="info-label">Task</h6>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-1" class="d-flex flex-column">
                        <h6 class="info-data d-flex justify-content-center">Mon,Jul 17</h6>
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Weekly</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Daily</a></li>
                            <li><a class="dropdown-item" href="#">Monthly</a></li>
                            <li><a class="dropdown-item" href="#">Yearly</a></li>
                        </ul>
                    </th>
                    <th scope="col-2 d-flex justify-content-center">Total</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let x of [1, 2, 3, 4, 5];">
                    <td class="col-1 py-3">
                        <a>SMRT {{x}}</a>
                    </td>
                    <td class="col-1">
                        <button type="button" class="btn border dropdown-toggle"
                            data-bs-toggle="dropdown">Design</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Developing</a></li>
                            <li><a class="dropdown-item" href="#">Test</a></li>
                            <li><a class="dropdown-item" href="#">Big Data</a></li>
                        </ul>
                    </td>
                    <td class="col-1 py-3 ps-3"><input type="text" class="shift-box"></td> 
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3 ps-5">
                        <h6>3.00</h6>
                    </td>
                    <td class="col-1 py-3 ps-5"><i class="bi bi-trash"></i></td>
                </tr>
                <!--  -->
                <tr>
                    <td class="col-2 py-3"><a href="" class="text-decoration-none">+ Select Project</a></td>
                    <td class="col-2 py-3"><input type="text" class="project-box"></td>
                    <td class="col-1 ps-3 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"> </td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3"><input type="text" class="shift-box"></td>
                    <td class="col-1 py-3 ps-5"><h6>3.00</h6></td>
                    <td class="col-1 py-3 ps-5"><i class="bi bi-trash"></i></td>
                </tr>

                <tr>
                    <td class="col-2 py-3">Total</td>
                    <td class="col-2 py-3"></td>
                    <td class="col-1 ps-3 py-3"><h6 class="info-data">8.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3"><h6 class="info-data">0.00 hrs</h6></td>
                    <td class="col-1 py-3 ps-4"><h6 class="info-label">8.00 hrs</h6></td>
                    <td class="col-1 py-3 ps-5"><i class="bi bi-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




    
   
   
