.shift-box{
    width: 3rem;
}
.project-box{
    width: 5.5rem;
}
.submitted-approval-card {
    border-radius: 8px;
    border: 2px solid #EDEDED;
    background: #FFF;
    border-left: 5px solid rgba(255, 180, 6, 1);
}

.submitted-approval {
    color: rgba(255, 180, 6, 1);
}
.approval-card {
    border-radius: 8px;
    border: 2px solid #EDEDED;
    background: #FFF;
    border-left: 5px solid rgba(0, 183, 30, 1);
}
.approval {
    color: #00B71E;
}
.reject {
    color: #EA1C2D;
}
.reject-card {
    border-radius: 8px;
    border: 2px solid #EDEDED;
    background: #FFF;
    border-left: 5px solid#EA1C2D;
}
.download-icon{
    background-color: transparent;
}

.test{
    color: var(--app-primary-color);
}
.enquiries{
    th {
        font-size: var(--app-font-size-th);
        color: var(--app-table-th-color);
        font-weight: 700;
        line-height: 30px;
    }

    td {
        color: var(--app-table-td-color);
        font-size: var(--app-font-size-td);
        font-weight: 500;
        line-height: 30px;
    }

    a {
        color: var(--app-table-a-color);
        font-size: var(--app-font-size-td);
        text-decoration: none;
    }
    .table-bg>th{
        background-color: #F4F4F4;
        
    }
   
    thead>tr>th{
        border-bottom: none;
        border-color: white;
        border-radius: 4px;
    }
    // thead{
    //     border-radius: 4px;
    // }
}
.disable-box{
 
    background: #ECECEC;
    border: none;
}
