<!-- <app-navbar></app-navbar>
<div class="app-body d-flex">
  <app-side-nav></app-side-nav>
  <main class="flex-fill">
    <router-outlet class="app-shell-body-router"></router-outlet>
  </main>
</div> -->



<div class="d-flex">
  <app-side-nav [isMobile]="viwportServ.device() === 'mobile' ? true : false" [show]="showSideNav"></app-side-nav>
  <div>
    <app-navbar [isMobile]="viwportServ.device() === 'mobile' ? true : false" (toggleSideMenu)="toggleSideNav()"></app-navbar>

  <main class="">
    <router-outlet class="app-shell-body-router"></router-outlet>
  </main>
  </div>
</div>