<div class="container-fluid p-0">
    <div class="col-lg-12 col-md-12 d-md-flex d-lg-flex login-container  vh-100">
        <div class="col-lg-6 col-md-6 d-flex align-items-center login-banner-container">
            <img src="/assets/images/login.png" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="col-lg-12 col-md-12 d-flex pt-3 ps-3">
                <div class="col-lg-6 col-md-6 col-6 ohoh-logo">
                    <img src="/assets/images/ohoh-timesheet-logo.svg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-6 d-flex justify-content-end pe-2">
                    <a href="" class="text-decoration-none">
                    <p class="info-data"> <i class="bi bi-info pe-2"></i>Need help?</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 mt-5">
                <h5 class="justify-content-center d-flex">Welcome Back Again !</h5>
                <p class="justify-content-center d-flex">Track Your Working Hours</p>
            </div>
            <div class="col-lg-12 col-md-12 d-flex mt-5">
                <div class="col-2"></div>
                <div class="col-8">
                    <h2 class="mb-3">Login</h2>
                    <div class="mb-3">
                        <div class="col-12 d-flex">
                            <div class="col-12">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-12 d-flex">
                            <div class="col-12">
                                <label for="inputPassword5" class="form-label">Password</label>
                                <input type="password" id="inputPassword5" class="form-control"
                                    aria-describedby="passwordHelpBlock" placeholder="*********">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 d-lg-flex d-md-flex d-flex  mb-1">
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remainder
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-0"></div>
                        <div class="col-lg-4 col-md-4 col-6 d-flex justify-content-end">
                            <!-- <p><a href="">Forgot Password?</a></p> -->
                            <p><a routerLink="/forgot-password">Forgot Password?</a></p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 d-flex">
                        <a class="btn btn-primary col-lg-12 col-md-12 col-12" routerLink="/dashboard" role="button">Login</a>
                    </div>
                    <div class="info-data d-flex  justify-content-center pt-3">
                        <p class="">Don't have an account? </p>
                        <a class="text-decoration-none ps-2" routerLink="/sign-up">
                            <span>signup</span>
                         </a>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-end pt-5 pe-2">
                <p class="info-data">Copyright 2023. All rights Reserved</p>
            </div>
        </div>
    </div>

</div>
