.bi-pencil {
    font-size: 13px;
}

.card-bg {
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 0.34);
    background: #F4F4F4;
}

.employee-image {
    width: 137px;
    height: 131px;
}

.employee-reports-card {
    width: 300px;
    height: 75px;
    border-radius: 4px;
    border: 1px solid #DFE0EB;
    background: #FFF;
}

.icon {
    background-color: rgba(239, 98, 98, 0.08);
    width: 48px;
    height: 48px;
    border-radius: 6px;
}
.completed-icon-bg{
    background-color:rgba(236, 249, 242, 1);
    width: 48px;
    height: 48px;
    border-radius: 6px;
}
.working-icon-bg{
    background-color:rgba(23, 85, 231, 0.08);
    width: 48px;
    height: 48px;
    border-radius: 6px;
}

