/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './app/styles/variables.scss';

.info-label {
    font-weight: 500;
    color: #20102B;
    text-decoration: none;
}

.info-data {
    font-weight: 400;
    color: #7B7B7B;
    text-decoration: none;
}