.submitted-approval-card {
    border-radius: 8px;
    border: 2px solid #EDEDED;
    background: #FFF;
    border-left: 5px solid rgba(255, 180, 6, 1);
}

.submitted-approval {
    color: rgba(255, 180, 6, 1);
}
.approval-card {
    border-radius: 8px;
    border: 2px solid #EDEDED;
    background: #FFF;
    border-left: 5px solid rgba(0, 183, 30, 1);
}
.approval {
    color: #00B71E;
}
.download-icon{
    background-color: transparent;
}