<div class="container-fluid">
    <div class="col-12 d-lg-flex d-md-flex mt-3 mb-3 p-4 submitted-approval-card">
        <div class="col-lg-4 col-md-4 col-12 ps-3 d-flex align-items-center">
            <div>
                <div class="d-flex info-data pb-3 pb-md-0">
                    <h6>02-July-2023</h6>
                    <h6 class="px-2">To</h6>
                    <h6>09-July-2023</h6>
                </div>
                <div class="pb-3 pb-md-0">
                    <h6 class="submitted-approval">Submitted for Approval</h6>
                </div>
            </div>


        </div>
        <div class="col-lg-8 col-md-8 d-lg-flex d-md-flex align-items-center">
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label pb-1">40.00</h6>
                    <h6 class="info-data">Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12 ps-3 ps-md-0 d-lg-flex align-items-center">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Non-Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Holiday Hrs</h6>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0 d-lg-flex d-md-flex align-items-center justify-content-md-around justify-content-lg-around">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Pre-sales</h6>
                </div>
                <div>
                    <button  class="submitted-approval-card"><i class="bi bi-download info-data border-none"></i></button>
                   
                </div>
            </div>
        </div>
    </div>
<!--  -->
    <div class="col-12 d-lg-flex d-md-flex mt-3 mb-3 p-4 approval-card">
        <div class="col-lg-4 col-md-4 col-12 ps-3 ps-md-0 d-flex align-items-center">
            <div>
                <div class="d-flex info-data pb-3 pb-md-0">
                    <h6>02-July-2023</h6>
                    <h6 class="px-2">To</h6>
                    <h6>09-July-2023</h6>
                </div>
                <div class="pb-3 pb-md-0">
                    <h6 class="approval">Approved</h6>
                </div>
            </div>


        </div>
        <div class="col-lg-8 col-md-8 d-lg-flex d-md-flex align-items-center">
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label pb-1">00.00</h6>
                    <h6 class="info-data">Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12 ps-3 ps-md-0 d-lg-flex align-items-center">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Non-Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Holiday Hrs</h6>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0 d-lg-flex d-md-flex align-items-center justify-content-lg-around justify-content-md-around">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Pre-sales</h6>
                </div>
                <div >
                    <button class="approval-card"><i class="bi bi-download info-data border-none"></i></button>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-lg-flex d-md-flex mt-3 mb-3 p-4 approval-card">
        <div class="col-lg-4 col-md-4 col-12 ps-3 ps-md-0 d-flex align-items-center">
            <div>
                <div class="d-flex info-data pb-3 pb-md-0">
                    <h6>02-July-2023</h6>
                    <h6 class="px-2">To</h6>
                    <h6>09-July-2023</h6>
                </div>
                <div class="pb-3 pb-md-0">
                    <h6 class="approval">Approved</h6>
                </div>
            </div>


        </div>
        <div class="col-lg-8 col-md-8 d-lg-flex d-md-flex align-items-center">
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label pb-1">00.00</h6>
                    <h6 class="info-data">Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12 ps-3 ps-md-0 d-lg-flex align-items-center">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Non-Billable Project Hrs</h6>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-12 ps-3 ps-md-0">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Holiday Hrs</h6>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-12 ps-3 ps-md-0 d-lg-flex d-md-flex align-items-center justify-content-lg-around justify-content-md-around">
                <div class="pb-3 pb-md-0">
                    <h6 class="info-label">00.00</h6>
                    <h6 class="info-data">Pre-sales</h6>
                </div>
                <div >
                    <button class="approval-card"><i class="bi bi-download info-data border-none"></i></button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
