<div class="container-fluid">
    <div class="col-lg-6 col-md-6 mt-3">
        <h2 class="page-title mb-0">Create Employee</h2>
    </div>
    <div class="col-lg-6 col-md-6"></div>
    <div class="col-lg-6 d-flex align-items-center ">
        <a class="text-decoration-none pe-1" routerLink="/my-employees">
            <span class="text-secondary">Employee List /</span>
        </a>
        <span>Create Employee</span>
    </div>
    <form action="">
        <div class="col-ig-12 col-md-12  d-lg-flex d-md-flex col-12 mt-3"> 
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee First Name" class="info-label">First Name</label>
                <input type="text" class="form-control mt-1" id="Employee First Name" formControlName="customername" required
                    placeholder="Arun" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Last Name" class="info-label">Last Name</label>
                <input type="text" class="form-control mt-1" id="Employee Last Name" formControlName="customername" required
                    placeholder="Ram" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Designation" class="info-label">Designation</label>
                <select class="form-select info-data mt-1" aria-label=".form-select-lg example" id="Employee Designation">
                    <option selected>Employee</option>
                    <option value="1">Manager</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee ID" class="info-label">Employee ID</label>
                <input type="text" class="form-control mt-1" id="Employee ID" formControlName="customername" required
                    placeholder="0000001" />
            </div>
        </div>
        <div class="col-ig-12 col-md-12 d-lg-flex d-md-flex col-12 mt-lg-3 mt-md-3">
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Email ID" class="info-label">Email ID</label>
                <input type="email" class="form-control mt-1" id="Employee Email ID" formControlName="customername" required
                    placeholder="Ram12@gmail.com" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Mobile Number" class="info-label">Mobile Number</label>
                <input type="text" class="form-control mt-1" id="Employee Mobile Number" formControlName="customername"
                    required placeholder="89786 98765" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Hourly Cost Rate" class="info-label">Hourly Cost Rate</label>
                <input type="text" class="form-control mt-1" id="Employee Hourly Cost Rate" formControlName="customername"
                    required placeholder="₹ 600" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Location" class="info-label">Location</label>
                <input type="text" class="form-control mt-1" id="Employee Location" formControlName="customername" required
                    placeholder="Singapore" />
            </div>
        </div>
        <div class="col-ig-12 col-md-12 d-lg-flex d-md-flex col-12 mt-lg-3 mt-md-3">
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Reporting Manager" class="info-label">Reporting Manager</label>
                <select class="form-select info-data mt-1" aria-label=".form-select-lg example" id="Reporting Manager">
                    <option selected>Arun</option>
                    <option value="1">Tushar B</option>>
                    <option value="1">Ranjith kumar</option>>
                    <option value="1">Yuvraj</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Joining Date" class="info-label">Joining Date</label>
                <input type="date" class="form-control info-data mt-1" id="Joining Date" formControlName="customername"
                    required placeholder="" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Last Date" class="info-label">Last Date</label>
                <input type="date" class="form-control info-data mt-1" id="Last Date" formControlName="customername" required
                    placeholder="" />
            </div>
            <div class="col-lg-3 col-md-3 pe-3 mb-3 mb-md-0">
                <label for="Employee Status" class="info-label">Status</label>
                <select class="form-select info-data mt-1" aria-label=".form-select-lg example" id="Employee Status">
                    <option selected>Active</option>
                    <option value="1">In Active</option>
                </select>
            </div>
        </div>
        <div class="col-ig-12 col-md-12 d-flex mt-lg-3 mt-md-3">
            <div class="col-lg-3 col-md-3 pe-3">
                <label for="Upload Employee Photo" class="info-label">Upload Photo</label>
                <input class="form-control  info-data mt-1" type="file" id="Upload Employee Photo">
            </div>
            <div class="col-lg-9 col-md-9 "></div>
        </div>
    </form>
    <div class="d-flex justify-content-end pe-3 mt-3 mb-3">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Create Employee</button>
      </div>
</div>
            <!-- modal -->
            <!-- <div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="model-header">
                        <button type="button" class="btn-close float-end me-2 mt-2" data-bs-dismiss="modal"></button>
                      
                        <div class="modal-body text-center mb-5">
                            <img src="assets/images/pop up success.svg" class="my-2">
                            <h4 class="modal-title">Emp ID
                                - U
                                123456</h4>
                                <h5>
                                    Employee Create Successfully
                                </h5>

                                <p>"The employee ID and Password have been sent to the
                                    user's
                                    email ID"</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok</button>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="height: 300px; width: 460px;">
                        <div class="d-flex justify-content-end mt-2 me-2">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <img src="/assets/images/pop up success.svg" alt="popup icon">
                        </div>
                        <h5 class="d-flex justify-content-center mt-3">Emp ID - U 123456</h5>
                        <h5 class="d-flex justify-content-center mt-3">Employee Created Successfully</h5>
                        <p class="d-flex justify-content-center mt-3 text-center" >"The employee ID and password have been sent to the user's email ID."</p>



                        <div class="d-flex justify-content-center mt-2 pb-3">
                        
                                    <a class="text-decoration-none btn btn-primary"  routerLink="/my-employees" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        ok
                                    </a>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>