<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-6 col-md-6">
      <h2 class="page-title">My Projects</h2>
      <h6 class="info-label"><a routerLink="../current-project" class="info-data">My Project</a> / Create Project</h6>
    </div>
    <div class="col-lg-5 col-md-5"></div>

    <div class="col-lg-1 col-md-1">
      <button class="btn btn-outline-secondary" routerLink="../edit-project"><i class="bi bi-pencil"> Edit</i></button>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col d-flex justify-content-between table-bg mt-2">
    <div class="col-lg-8 col-md-8 d-lg-flex col-md-flex d-flex justify-content-between pt-4 ps-4">
      <div>
        <p class="info-data">Project Name</p>
        <h6>SMRT</h6>
      </div>
      <div>
        <p class="info-data">Project Manager</p>
        <h6>Tushar B</h6>
      </div>
      <div>
        <p class="info-data ">Project Type</p>
        <h6>Billable</h6>
      </div>
      <div>
        <p class="info-data">Total Hours</p>
        <h6>4 hrs</h6>
      </div>
      <div class="d-lg-flex d-md-flex flex-column d-none">
        <p class="info-data">Start Date </p>
        <h6>18 July 2023</h6>
      </div>
      <div class="d-lg-flex d-md-flex flex-column d-none">
        <p class="info-data">End Date</p>
        <h6>27 July 2023</h6>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3 pt-4 d-lg-flex d-md-flex flex-column d-none ">
      <div class="d-flex justify-content-between">
        <p>Progress</p>
        <p>45%</p>
      </div>

      <div class="progress mb-2" style="height:7px">
        <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
      </div>

      <div class="d-flex justify-content-between">
        <h6>Allocate hrs 280</h6>
        <h6>Utilise hrs 90</h6>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <hr>
      <mat-tab label="Team">
        <div class="mt-3">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="border-bottom" [collapsedHeight]="customCollapsedHeight"
                [expandedHeight]="customExpandedHeight">
                <mat-panel-description>
                  <div class="col-12 d-flex mt-4 project-team ">
                    <div class="col-6">
                      <h6 class="info-label">UI / UX</h6>
                      <p class="info-data">Web Design</p>

                    </div>
                    <div class="col-sm-6 d-flex justify-content-between">
                      <div>
                        <h6 class="info-label">120</h6>
                        <p class="info-data">Total Hours</p>

                      </div>
                      <div>
                        <h6 class="info-label">26</h6>
                        <p class="info-data">Completed Hours</p>

                      </div>
                      <div>
                        <h6 class="info-label">04</h6>
                        <p class="info-data">Total Employee</p>

                      </div>
                    </div>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Ranjith</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Arun</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Kumar</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Gopal</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="mt-3">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="border-bottom" [collapsedHeight]="customCollapsedHeight"
                [expandedHeight]="customExpandedHeight">
                <mat-panel-description>
                  <div class="col-12 d-flex mt-4 project-team ">
                    <div class="col-6">
                      <h6 class="info-label">Frontend</h6>
                      <p class="info-data">Web Developer</p>

                    </div>
                    <div class="col-sm-6 d-flex justify-content-between">
                      <div>
                        <h6 class="info-label">120</h6>
                        <p class="info-data">Total Hours</p>

                      </div>
                      <div>
                        <h6 class="info-label">26</h6>
                        <p class="info-data">Completed Hours</p>

                      </div>
                      <div>
                        <h6 class="info-label">04</h6>
                        <p class="info-data">Total Employee</p>

                      </div>
                    </div>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Ranjith</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Dinesh</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Kumar</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <div class="col-7 ps-3">
                  <h6 class="mt-2">Vino</h6>
                </div>
                <div class="col-2"></div>

                <div class="col-3 pt-2">
                  <div class="d-flex justify-content-between">
                    <p>Allocate hrs 40</p>
                    <p>Utilise hrs 20</p>
                  </div>
                  <div class="progress mb-3" style="height:7px">
                    <div class="progress-bar" style="width:45%;border-radius: 4px;"></div>
                  </div>

                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-12 pt-4">
          <a class="text-decoration-none text-white btn btn-primary float-end" routerLink="/create-project">
            <i class="bi bi-plus fs-5"></i>
          </a>
        </div>

      </mat-tab>
      <mat-tab label="Task">
        <div class="col-lg-12 col-md-12 table-bg d-lg-flex col-md-flex col-12 p-2 mt-3">
          <div class="col-lg-6 col-md-6 col-12 p-1">
            <h6 class="info-label">UI / UX</h6>
            <p class="info-data">Web Design</p>
          </div>
          <div class="col-lg-6 col-md-6 col-12 d-lg-flex col-md-flex justify-content-between">
            <div>
              <h6 class="info-label">40 Hrs</h6>
              <p class="info-data">No.of Hours For This Task</p>

            </div>
            <div>
              <h6 class="info-label">12-07-2023</h6>
              <p class="info-data">Start Date</p>

            </div>
            <div>
              <h6 class="info-label">12-07-2023</h6>
              <p class="info-data">Completion Date</p>

            </div>
            <div class=" d-flex ">

              <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="bi bi-pencil"></i>
              </button>

              <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-trash "></i>
              </button>

            </div>
          </div>


        </div>
        <div class="col-lg-12 col-md-12 col-12 table-bg d-lg-flex d-md-flex p-2 mt-3 align-items-center">
          <div class="col-lg-6 col-md-6 col-12 p-1">
            <h6 class="info-label">Frontend</h6>
            <p class="info-data">Web Developer</p>
          </div>
          <div class="col-lg-6 col-md-6 col-12 d-lg-flex d-md-flex justify-content-between">
            <div>
              <h6 class="info-label">40 Hrs</h6>
              <p class="info-data">No.of Hours For This Task</p>

            </div>
            <div>
              <h6 class="info-label">12-07-2023</h6>
              <p class="info-data">Start Date</p>

            </div>
            <div>
              <h6 class="info-label">12-07-2023</h6>
              <p class="info-data">Completion Date</p>

            </div>
            <div class=" d-flex ">
              <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="bi bi-pencil"></i>
              </button>
              <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-trash"></i>
              </button>

            </div>
          </div>
        </div>
        <div class="col-12 pt-4">
          <a class="text-decoration-none text-white btn btn-primary float-end" routerLink="/create-project">
            <i class="bi bi-plus fs-5"></i>
          </a>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<!-- trigger edit button -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <label for="email" class="form-label">Task</label>
              <input type="text" class="form-control" placeholder="UI/UX" name="email">
            </div>
            <div class="col">
              <label for="email" class="form-label">No. Of Hours For This Task</label>
              <input type="text" class="form-control" placeholder="40 hrs" name="email">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="email" class="form-label">Start Date</label>
              <input type="date" class="form-control" placeholder="0000000000" name="email">
            </div>
            <div class="col">
              <label for="email" class="form-label">Completion date</label>
              <input type="date" class="form-control" placeholder="arun@gmail.com" name="email">
            </div>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>
  <!-- trigger delete button -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class=" modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <img src="/assets/images/pop-up delete.svg" alt="" style="width: 50px;">
              <h1 class="modal-title fs-5 ms-3" id="staticBackdropLabel">Are you Sure want to
                  Remove Contact Details</h1>

          </div>
          <div class="modal-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary"
                  data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
          </div>
      </div>
  </div>
</div>